body{
    background-image: url(group-Images/signback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Risque', cursive;
    
}

h1{
    
    text-align: center; 
}

p{
    
    text-align: center;
}
a{
    color:black
}
.card {
    margin-bottom: 20px;
    border: none
}

#blue{
    background-color: blue;
    color: white;
}
.box {
    
    width: 500px;
    padding: 40px;
    position: absolute;
    margin:0px auto;
    background:rgba(128, 128, 128, 0.5);
    transition: 0.25s;
  
}
.error{
    line-height: 1;
    color: red;
    padding: 2px 0 6px 6px;
    }
    input.valid.success-alert {
    color: green;
    }
