body{
    background-image: url(group-Images/signback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Risque', cursive;
    
}
.holder{
    height: 100% !important;width:100% !important; display: flex !important;flex-wrap: wrap !important;justify-content: center;align-items: center !important;position: absolute !important;top:0;left:0;background:linear-gradient(to bottom,#88cbda,#b2dbe3,#BBDEE6,#f1f1f1,#e4edef,#cce5ea,#acd9e2,#82cad9,#82cabd);overflow-y: auto;padding-top:10px;
}
h1{
    
    text-align: center; 
}

p{
    
    text-align: center;
}
a{
    color:black
}
.card {
    margin-bottom: 20px;
    border: none
}

#blue{
    background-color: blue;
    color: white;
}
.box {
    
    width: 500px;
    padding: 40px;
    position: absolute;
    margin:0px auto;
    background:rgba(128, 128, 128, 0.5);
    transition: 0.25s;
  
}
.error{
    line-height: 1;
    color: red;
    padding: 2px 0 6px 6px;
    }
    input.valid.success-alert {
    color: green;
    }
